useDynLib(picante, .registration = TRUE)

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  ape,
  vegan,
  nlme
)

importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "axis", "legend", "lines", "par",
           "plot", "segments", "text", "title")
importFrom("methods", "is")
importFrom("stats", "aggregate", "as.dist", "coef", "cophenetic",
           "cor", "cor.test", "cov", "dbinom", "dist", "glm",
           "model.matrix", "na.omit", "optim", "pt", "quantile",
           "reorder", "rlnorm", "rnorm", "runif", "sd",
           "weighted.mean")
importFrom("utils", "read.table", "write.table")